#chat-button {

    position: fixed !important;

    bottom: 25px !important;
    right: 25px !important;

    width: 60px !important;
    height: 60px !important;

    padding: 0 !important;
    margin: 0 !important;

    border: none !important;
    border-radius: 50% !important;

    background: #198754 !important;
    color: #fff !important;

    display: flex !important;

    align-items: center !important;
    justify-content: center !important;

    font-size: 28px !important;

    cursor: pointer !important;

    pointer-events: auto !important;

    box-shadow: 0 5px 15px rgba(0,0,0,.3);

    z-index: 2147483647 !important;

    transition: .3s;

}

#chat-button:hover {

    transform: scale(1.08);

}

#chat-box{

position:fixed;

bottom:95px;

right:25px;

width:360px;

height:520px;

background:#fff;

border-radius:15px;

box-shadow:0 10px 30px rgba(0,0,0,.25);

display:none;

flex-direction:column;

overflow:hidden;

z-index:9999;

}

#chat-box.show{

display:flex;

}

#chatStartArea {
    padding: 15px;
    border-top: 1px solid #ddd;
}

#startChatBtn {
    width: 100%;
    padding: 12px;

    border: none;
    border-radius: 8px;

    background: #198754;
    color: #fff;

    font-weight: bold;
    cursor: pointer;
}

#startChatBtn:hover {
    background: #157347;
}

.chat-header{

background:#198754;

color:#fff;

padding:15px;

font-weight:bold;

text-align:center;

}

#chat-messages{

flex:1;

padding:15px;

overflow-y:auto;

background:#f5f5f5;

}

.user{

background:#198754;

color:#fff;

padding:10px;

border-radius:10px;

margin-bottom:10px;

margin-left:60px;

}

.bot{

background:#e9ecef;

padding:10px;

border-radius:10px;

margin-bottom:10px;

margin-right:60px;

white-space: pre-line;

}

.chat-input{

display:flex;

border-top:1px solid #ddd;

}

.chat-input input{

flex:1;

padding:12px;

border:none;

outline:none;

}

.chat-input button{

width:90px;

background:#198754;

color:#fff;

border:none;

cursor:pointer;

}

.chat-input button:hover{

background:#157347;

}

#visitorForm{

padding:15px;

display:flex;

flex-direction:column;

gap:10px;

}

#visitorForm input{

padding:10px;

border:1px solid #ccc;

border-radius:8px;

}

#visitorForm button{

background:#198754;

color:white;

border:none;

padding:12px;

border-radius:8px;

cursor:pointer;

}

#visitorForm button:hover{

background:#157347;

}